---
import DragItems from '../components/dashboard/DragItems.astro'
import Ai from '../components/dashboard/Ai.astro'
import Workflow from '../components/dashboard/Workflow.astro'

import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="flex justify-around">
    <DragItems />
    <Ai />
    <Workflow />
  </div>
</Layout>
