---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="flex w-screen flex-1 items-center justify-center overflow-hidden">
    <div class="flex w-full max-w-6xl flex-grow flex-col md:flex-row">
      <!-- Left Side (Quote + BG) -->
      <div
        id="left-bg"
        class="relative hidden w-1/2 flex-col justify-center p-10 text-white opacity-90 xl:flex"
      >
        <div class="relative z-10">
          <h2 class="mb-4 text-3xl font-bold">Rethinking Automation with AI</h2>
          <p class="text-lg">
            “Let AI do what it's best at—so you can focus on what truly
            matters.”
          </p>
        </div>
        <div class="absolute inset-0 z-0"></div>
      </div>

      <!-- Right Side (Form) -->
      <div
        class="mx-auto flex w-full flex-col items-center justify-center p-8 md:w-1/2"
      >
        <h2 class="mb-6 text-center text-4xl">Create your account</h2>
        <form action="" class="flex w-full max-w-sm flex-col">
          <label for="email">Email:</label>
          <input type="email" id="email" class="mt-2 rounded-sm border p-2" />

          <label for="password" class="mt-4">Password:</label>
          <input
            type="password"
            id="password"
            class="mt-2 rounded-sm border p-2"
          />

          <button class="mx-auto mt-6 rounded-sm border px-4 py-2">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</Layout>

<script>
  import { ChaosWavesBg } from '../scripts/ChaosWavesBg.module'

  const isMobile = window.innerWidth < 1300
  const target = isMobile ? 'a' : 'left-bg'

  new ChaosWavesBg({
    dom: target,
    // colors: ['#76EEEB', '#09C4CF', '#008095', '#032B76', '#0163DF', '#B7D1FF'],
    // colors: ['#FDFDFD', '#DDDDDD', '#BBBBBB', '#555555', '#343434', '#010101'],
    // colors: ['#000000', '#3d3846', '#5e5c64', '#000000', '#3d3846', '#ffffff'],
    colors: ['#000000', '#000000', '#4eb1a2', '#4eb1a2', '#000000', '#000000'],

    speed: 1,
    loop: true,
  })
</script>

<style>
  nav {
    position: absolute;
    left: 0;
    right: 0;
  }
</style>
